.episodes__maincontainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: rgb(40, 47, 148);
  min-height: 500px;
  height: 100%;
}
.episodes__title {
  align-self: center;
}
.episodes__container__cards {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 15px;
}
.episode__card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(142, 143, 238);
  box-shadow: 5px 5px 5px rgb(128, 10, 196);
  // max-width: 50%;

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
    padding-bottom: 10px;
  }
}
.input {
  background-color: rgb(160, 159, 160);
  border: none;
  border-radius: 5px;
}
